@import url(styles/header.css);

:root {
    --cor-de-fundo: #f1a8ca; /* rosa claro */
    --cor-cabecalho: #cfa2b1;
    --cor-texto: #242424;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--cor-texto);
}

main {
    padding: 20px;
}

h2 {
    color: #99004d; /* rosa escuro */
}

.Impacto-do-Desmatamento, .Problemas-Causados-pelo-Desmatamento, .Consequências-Globais, .conclusão, .Referências {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(180, 83, 83, 0.8);
    border-radius: 10px;
}